backend/.venv
backend/.env
backend/**/*__pycache__
backend/db.json
**/*.sqlite

# Ignore all games except templates
backend/games/*
!backend/games/driver/
!backend/games/blank-slate/

frontend/node_modules
frontend/dist

# Mentat logs
.mentat/logs/
.vscode/